#  importing libraries

In [23]:
# importing the libraries 

import pandas as pd
import numpy as np

# importing the dataset

In [24]:
# reading the dataset

data=pd.read_csv("C:\\Users\\Dell\\Desktop\\sem 6\\ML\\hiring.csv") 
data

   experience  text_score  interview_score  salary($)
0         NaN         8.0                9      50000
1         NaN         8.0                6      45000
2         5.0         6.0                7      60000
3         2.0        10.0               10      65000
4         7.0         9.0                6      70000
5         3.0         7.0               10      62000
6        10.0         NaN                7      72000
7        11.0         7.0                8      80000

#  filling/replacing missing values

In [25]:
# filling missing values

data.fillna(data.mean(),inplace=True)
data

   experience  text_score  interview_score  salary($)
0    6.333333    8.000000                9      50000
1    6.333333    8.000000                6      45000
2    5.000000    6.000000                7      60000
3    2.000000   10.000000               10      65000
4    7.000000    9.000000                6      70000
5    3.000000    7.000000               10      62000
6   10.000000    7.857143                7      72000
7   11.000000    7.000000                8      80000

#  dividing the dataset into independent and dependent variable

In [26]:
# dividing the dataset into independent and dependent variable

x = pd.DataFrame(data.iloc[:,:-1])
y = pd.DataFrame(data.iloc[:,-1])
print(x)
print(y)

   experience  text_score  interview_score
0    6.333333    8.000000                9
1    6.333333    8.000000                6
2    5.000000    6.000000                7
3    2.000000   10.000000               10
4    7.000000    9.000000                6
5    3.000000    7.000000               10
6   10.000000    7.857143                7
7   11.000000    7.000000                8
   salary($)
0      50000
1      45000
2      60000
3      65000
4      70000
5      62000
6      72000
7      80000

#  splitting the data into training and testing sets

In [27]:
# splitting the dataset into training and testing ste

from sklearn.model_selection import train_test_split

x_train ,x_test , y_train , y_test = train_test_split(x,y,test_size = 0.2 ,random_state = 3)
print(x_train)
print(x_test)
print(y_train)
print(y_test)

   experience  text_score  interview_score
4    7.000000    9.000000                6
6   10.000000    7.857143                7
3    2.000000   10.000000               10
1    6.333333    8.000000                6
0    6.333333    8.000000                9
2    5.000000    6.000000                7
   experience  text_score  interview_score
5         3.0         7.0               10
7        11.0         7.0                8
   salary($)
4      70000
6      72000
3      65000
1      45000
0      50000
2      60000
   salary($)
5      62000
7      80000

#  fitting the data into model

In [28]:
# fitting the data into model

from sklearn.linear_model import LinearRegression
reg = LinearRegression()
reg.fit(x_train,y_train)

LinearRegression()

# co-efficient and intercept the model has choosen

In [29]:
# intercept and co-efficient of model

print(reg.coef_)
print(reg.intercept_)

[[1477.51345457 2749.26779201  417.74767219]]
[25784.08202508]

#  predicting the values for x_test

In [30]:
# predictingg the value

y_pred = reg.predict(x_test)
y_pred

array([[53638.97365474],
       [64623.58594694]])

#  evaluating the model

In [31]:
# finding the error

from sklearn import metrics
print("mean absolute error : " , metrics.mean_absolute_error(y_test,y_pred))
print("mean squared error : " , metrics.mean_squared_error(y_test,y_pred))
print("root mean squared error : " , np.sqrt(metrics.mean_absolute_error(y_test,y_pred)))

mean absolute error :  11868.720199157022
mean squared error :  153170435.33856523
root mean squared error :  108.94365607577626